@import '~antd/lib/style/themes/default.less';
@import '../../styles/variables.less';

.header {
  padding: 0 !important;
  background-color: @white !important;
  border-bottom: 1px solid @gray-4;
}

.logo {
  float: left;
  width: auto;
  height: 100%;

  img {
    height: 7.5rem;
    translate: 0 -29%;
  }
}

.menu {
  justify-content: flex-end;
  border-bottom: 0 !important;
}
