@import '~antd/lib/style/themes/default.less';

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem);

  & > div {
    height: 100%;

    .card {
      position: relative;
      z-index: 1;
      display: inline-flex;
      flex-direction: column;
      padding: 1rem;
      color: @white;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.125rem;
        background-color: @black;
        opacity: 0.5;
      }

      & > h1 {
        margin-bottom: 0;
        font-size: clamp(2rem, 7.5vw, 4rem);
        color: inherit;
      }

      & > span {
        color: inherit;
        font-size: clamp(1rem, 2.8125vw, 1.75rem);
      }

      & > div {
        margin-top: 1rem;
      }
    }
  }
}
